<form method="post" style="display: inline-block;" action="{{ path('agency_archive_ajax', {'id': agency.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agency.id) }}">
    <button class="btn btn-square flat-btn btn-blue js-button">{{ 'common.yes'|trans }}</button>
</form>
