files:
  "/tmp/dump_translation.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      cd /var/app/ondeck

      php bin/console bazinga:js-translation:dump public/js

container_commands:
  100_dump_translation:
    command: "sh /tmp/dump_translation.sh"
    ignoreErrors: false
