files:
  "/tmp/install_node.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      set -euxo pipefail

      yum -y install python

      if node -v; then
      echo '[NODEJS] Nodejs already installed. Skipping.'
      else
      echo '[NODEJS] Installing node...'
      curl -sL https://rpm.nodesource.com/setup_14.x | sudo bash -
      yum -y install nodejs
      yum -y install gcc-c++ make
      fi

      if yarn -v; then
      echo '[NODEJS] Yarn already installed. Skipping.'
      else
      echo '[NODEJS] Installing yarn...'
      wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo
      yum -y install yarn
      fi
      yarn
      yarn encore production



container_commands:
  00_install_node:
    command: "sh /tmp/install_node.sh"
    ignoreErrors: false
