packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off

        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff

        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early

      </VirtualHost>

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFtTCCBJ2gAwIBAgIQeYWplB8trtWk6x9WE9qG9TANBgkqhkiG9w0BAQsFADCB
      jzELMAkGA1UEBhMCR0IxGzAZBgNVBAgTEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4G
      A1UEBxMHU2FsZm9yZDEYMBYGA1UEChMPU2VjdGlnbyBMaW1pdGVkMTcwNQYDVQQD
      Ey5TZWN0aWdvIFJTQSBEb21haW4gVmFsaWRhdGlvbiBTZWN1cmUgU2VydmVyIENB
      MB4XDTIwMDgxMzAwMDAwMFoXDTIxMDgxMzIzNTk1OVowGDEWMBQGA1UEAwwNKi52
      aWRvb215LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMHM2Vqd
      Xt4IQGorDsjZiDlfNKem018fVXGGDuIeEvythxYF34jvP9+XR2bHYGe6PNcefwTt
      jYCWM4KZ2ekBrz/U4OoGfXBl00vm/AtyRaYRG16j8LTp1NTGiejOdw+mARhHvNLg
      RTnlsMPS5g8X44SVtExkPY3jRi3TwL6pUxXzRXR6k6rkXbJewaEg4uTUCRcbRwol
      7uhkceFwIMTqJUanusc5UsSDxjWA71oD6l6zydS5xefomXPz3wBPslHUlWssyULW
      tPu+EkowFrwBnE0UipWy/MZHgcYrb5hiJuBnrHigx1YLSIztM7bHNg+Nl8fbHJQ4
      pb5QzG5tgeWP2hcCAwEAAaOCAoEwggJ9MB8GA1UdIwQYMBaAFI2MXsRUrYrhd+mb
      +ZsF4bgBjWHhMB0GA1UdDgQWBBR+t6Nx3WuhoneDE/Ylr9tHKYhMPzAOBgNVHQ8B
      Af8EBAMCBaAwDAYDVR0TAQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYB
      BQUHAwIwSQYDVR0gBEIwQDA0BgsrBgEEAbIxAQICBzAlMCMGCCsGAQUFBwIBFhdo
      dHRwczovL3NlY3RpZ28uY29tL0NQUzAIBgZngQwBAgEwgYQGCCsGAQUFBwEBBHgw
      djBPBggrBgEFBQcwAoZDaHR0cDovL2NydC5zZWN0aWdvLmNvbS9TZWN0aWdvUlNB
      RG9tYWluVmFsaWRhdGlvblNlY3VyZVNlcnZlckNBLmNydDAjBggrBgEFBQcwAYYX
      aHR0cDovL29jc3Auc2VjdGlnby5jb20wJQYDVR0RBB4wHIINKi52aWRvb215LmNv
      bYILdmlkb29teS5jb20wggEDBgorBgEEAdZ5AgQCBIH0BIHxAO8AdQB9PvL4j/+I
      VWgkwsDKnlKJeSvFDngJfy5ql2iZfiLw1wAAAXPmuK1yAAAEAwBGMEQCIE9UZ73+
      OwsYFwRixnqSjhO4UQMjMW6+/RM0HHSGzPXnAiBwhMe+PskMsZd2ppT4Wdfzdi4P
      3EMgpMA9NqugBRBwHAB2AJQgvB6O1Y1siHMfgosiLA3R2k1ebE+UPWHbTi9YTaLC
      AAABc+a4rr8AAAQDAEcwRQIgMXUQnJxJ6eL7apkKGhrC6tf8uddVxYIa9Vl6SAiS
      nwwCIQDxhft6Q4ROWxSWd6P1rwLug2boaeRq/LGtbga7Punb+jANBgkqhkiG9w0B
      AQsFAAOCAQEAU3viI+vyIFmf5wOiVUClLgOEx/nFwCJiQlWUJ0zLrElMJrHmkEoS
      vN2YvEWtvmncVSP6208Yrb4aaVHiIWkeydVXJ/w8LDhJMwie2Yr0thfVF5Fe2k+j
      odYxa0Sp1QsHYs+oHYdX31Xno2abJNVUkqM0chMsiUhqmxBzFMopHs8MQIDMi0xY
      fWPZMGb6rzNaQn9CGqRmmAkx3JrBcdcjgacXROIzEqCbVONeDB80pSyeeyjDsgEc
      ousOo5uaymspwAC8LPl7l7fw6L7teLiXfiweaYdBqcCCh4HL9RkTsDLLNDNBzLpH
      CEzrwDo90n3UseL+bkCqGUB7Qcutmr1Q7g==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIGEzCCA/ugAwIBAgIQfVtRJrR2uhHbdBYLvFMNpzANBgkqhkiG9w0BAQwFADCB
      iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
      cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
      BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMTgx
      MTAyMDAwMDAwWhcNMzAxMjMxMjM1OTU5WjCBjzELMAkGA1UEBhMCR0IxGzAZBgNV
      BAgTEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4GA1UEBxMHU2FsZm9yZDEYMBYGA1UE
      ChMPU2VjdGlnbyBMaW1pdGVkMTcwNQYDVQQDEy5TZWN0aWdvIFJTQSBEb21haW4g
      VmFsaWRhdGlvbiBTZWN1cmUgU2VydmVyIENBMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEA1nMz1tc8INAA0hdFuNY+B6I/x0HuMjDJsGz99J/LEpgPLT+N
      TQEMgg8Xf2Iu6bhIefsWg06t1zIlk7cHv7lQP6lMw0Aq6Tn/2YHKHxYyQdqAJrkj
      eocgHuP/IJo8lURvh3UGkEC0MpMWCRAIIz7S3YcPb11RFGoKacVPAXJpz9OTTG0E
      oKMbgn6xmrntxZ7FN3ifmgg0+1YuWMQJDgZkW7w33PGfKGioVrCSo1yfu4iYCBsk
      Haswha6vsC6eep3BwEIc4gLw6uBK0u+QDrTBQBbwb4VCSmT3pDCg/r8uoydajotY
      uK3DGReEY+1vVv2Dy2A0xHS+5p3b4eTlygxfFQIDAQABo4IBbjCCAWowHwYDVR0j
      BBgwFoAUU3m/WqorSs9UgOHYm8Cd8rIDZsswHQYDVR0OBBYEFI2MXsRUrYrhd+mb
      +ZsF4bgBjWHhMA4GA1UdDwEB/wQEAwIBhjASBgNVHRMBAf8ECDAGAQH/AgEAMB0G
      A1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAbBgNVHSAEFDASMAYGBFUdIAAw
      CAYGZ4EMAQIBMFAGA1UdHwRJMEcwRaBDoEGGP2h0dHA6Ly9jcmwudXNlcnRydXN0
      LmNvbS9VU0VSVHJ1c3RSU0FDZXJ0aWZpY2F0aW9uQXV0aG9yaXR5LmNybDB2Bggr
      BgEFBQcBAQRqMGgwPwYIKwYBBQUHMAKGM2h0dHA6Ly9jcnQudXNlcnRydXN0LmNv
      bS9VU0VSVHJ1c3RSU0FBZGRUcnVzdENBLmNydDAlBggrBgEFBQcwAYYZaHR0cDov
      L29jc3AudXNlcnRydXN0LmNvbTANBgkqhkiG9w0BAQwFAAOCAgEAMr9hvQ5Iw0/H
      ukdN+Jx4GQHcEx2Ab/zDcLRSmjEzmldS+zGea6TvVKqJjUAXaPgREHzSyrHxVYbH
      7rM2kYb2OVG/Rr8PoLq0935JxCo2F57kaDl6r5ROVm+yezu/Coa9zcV3HAO4OLGi
      H19+24rcRki2aArPsrW04jTkZ6k4Zgle0rj8nSg6F0AnwnJOKf0hPHzPE/uWLMUx
      RP0T7dWbqWlod3zu4f+k+TY4CFM5ooQ0nBnzvg6s1SQ36yOoeNDT5++SR2RiOSLv
      xvcRviKFxmZEJCaOEDKNyJOuB56DPi/Z+fVGjmO+wea03KbNIaiGCpXZLoUmGv38
      sbZXQm2V0TP2ORQGgkE49Y9Y3IBbpNV9lXj9p5v//cWoaasm56ekBYdbqbe4oyAL
      l6lFhd2zi+WJN44pDfwGF/Y4QA5C5BIG+3vzxhFoYt/jmPQT2BVPi7Fp2RBgvGQq
      6jG35LWjOhSbJuMLe/0CjraZwTiXWTb2qHSihrZe68Zk6s+go/lunrotEbaGmAhY
      LcmsJWTyXnW0OMGuf1pGg+pRyrbxmRE1a6Vqe8YAsOf4vmSyrcjC8azjUeqkk+B5
      yOGBQMkKW+ESPMFgKuOXwIlCypTPRpgSabuY0MLTDXJLR27lk8QyKGOHQ+SwMj4K
      00u/I5sUKUErmgQfky3xxzlIPK1aEn8=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIFgTCCBGmgAwIBAgIQOXJEOvkit1HX02wQ3TE1lTANBgkqhkiG9w0BAQwFADB7
      MQswCQYDVQQGEwJHQjEbMBkGA1UECAwSR3JlYXRlciBNYW5jaGVzdGVyMRAwDgYD
      VQQHDAdTYWxmb3JkMRowGAYDVQQKDBFDb21vZG8gQ0EgTGltaXRlZDEhMB8GA1UE
      AwwYQUFBIENlcnRpZmljYXRlIFNlcnZpY2VzMB4XDTE5MDMxMjAwMDAwMFoXDTI4
      MTIzMTIzNTk1OVowgYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpOZXcgSmVyc2V5
      MRQwEgYDVQQHEwtKZXJzZXkgQ2l0eTEeMBwGA1UEChMVVGhlIFVTRVJUUlVTVCBO
      ZXR3b3JrMS4wLAYDVQQDEyVVU0VSVHJ1c3QgUlNBIENlcnRpZmljYXRpb24gQXV0
      aG9yaXR5MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAgBJlFzYOw9sI
      s9CsVw127c0n00ytUINh4qogTQktZAnczomfzD2p7PbPwdzx07HWezcoEStH2jnG
      vDoZtF+mvX2do2NCtnbyqTsrkfjib9DsFiCQCT7i6HTJGLSR1GJk23+jBvGIGGqQ
      Ijy8/hPwhxR79uQfjtTkUcYRZ0YIUcuGFFQ/vDP+fmyc/xadGL1RjjWmp2bIcmfb
      IWax1Jt4A8BQOujM8Ny8nkz+rwWWNR9XWrf/zvk9tyy29lTdyOcSOk2uTIq3XJq0
      tyA9yn8iNK5+O2hmAUTnAU5GU5szYPeUvlM3kHND8zLDU+/bqv50TmnHa4xgk97E
      xwzf4TKuzJM7UXiVZ4vuPVb+DNBpDxsP8yUmazNt925H+nND5X4OpWaxKXwyhGNV
      icQNwZNUMBkTrNN9N6frXTpsNVzbQdcS2qlJC9/YgIoJk2KOtWbPJYjNhLixP6Q5
      D9kCnusSTJV882sFqV4Wg8y4Z+LoE53MW4LTTLPtW//e5XOsIzstAL81VXQJSdhJ
      WBp/kjbmUZIO8yZ9HE0XvMnsQybQv0FfQKlERPSZ51eHnlAfV1SoPv10Yy+xUGUJ
      5lhCLkMaTLTwJUdZ+gQek9QmRkpQgbLevni3/GcV4clXhB4PY9bpYrrWX1Uu6lzG
      KAgEJTm4Diup8kyXHAc/DVL17e8vgg8CAwEAAaOB8jCB7zAfBgNVHSMEGDAWgBSg
      EQojPpbxB+zirynvgqV/0DCktDAdBgNVHQ4EFgQUU3m/WqorSs9UgOHYm8Cd8rID
      ZsswDgYDVR0PAQH/BAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wEQYDVR0gBAowCDAG
      BgRVHSAAMEMGA1UdHwQ8MDowOKA2oDSGMmh0dHA6Ly9jcmwuY29tb2RvY2EuY29t
      L0FBQUNlcnRpZmljYXRlU2VydmljZXMuY3JsMDQGCCsGAQUFBwEBBCgwJjAkBggr
      BgEFBQcwAYYYaHR0cDovL29jc3AuY29tb2RvY2EuY29tMA0GCSqGSIb3DQEBDAUA
      A4IBAQAYh1HcdCE9nIrgJ7cz0C7M7PDmy14R3iJvm3WOnnL+5Nb+qh+cli3vA0p+
      rvSNb3I8QzvAP+u431yqqcau8vzY7qN7Q/aGNnwU4M309z/+3ri0ivCRlv79Q2R+
      /czSAaF9ffgZGclCKxO/WIu6pKJmBHaIkU4MiRTOok3JMrO66BQavHHxW/BBC5gA
      CiIDEOUMsfnNkjcZ7Tvx5Dq2+UUTJnWvu6rvP3t3O9LEApE9GQDTF1w52z97GA1F
      zZOFli9d31kWTz9RvdVFGD/tSo7oBmF0Ixa1DVBzJ0RHfxBdiSprhTEUxOipakyA
      vGp4z7h/jnZymQyd/teRCBaho1+V
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEMjCCAxqgAwIBAgIBATANBgkqhkiG9w0BAQUFADB7MQswCQYDVQQGEwJHQjEb
      MBkGA1UECAwSR3JlYXRlciBNYW5jaGVzdGVyMRAwDgYDVQQHDAdTYWxmb3JkMRow
      GAYDVQQKDBFDb21vZG8gQ0EgTGltaXRlZDEhMB8GA1UEAwwYQUFBIENlcnRpZmlj
      YXRlIFNlcnZpY2VzMB4XDTA0MDEwMTAwMDAwMFoXDTI4MTIzMTIzNTk1OVowezEL
      MAkGA1UEBhMCR0IxGzAZBgNVBAgMEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4GA1UE
      BwwHU2FsZm9yZDEaMBgGA1UECgwRQ29tb2RvIENBIExpbWl0ZWQxITAfBgNVBAMM
      GEFBQSBDZXJ0aWZpY2F0ZSBTZXJ2aWNlczCCASIwDQYJKoZIhvcNAQEBBQADggEP
      ADCCAQoCggEBAL5AnfRu4ep2hxxNRUSOvkbIgwadwSr+GB+O5AL686tdUIoWMQua
      BtDFcCLNSS1UY8y2bmhGC1Pqy0wkwLxyTurxFa70VJoSCsN6sjNg4tqJVfMiWPPe
      3M/vg4aijJRPn2jymJBGhCfHdr/jzDUsi14HZGWCwEiwqJH5YZ92IFCokcdmtet4
      YgNW8IoaE+oxox6gmf049vYnMlhvB/VruPsUK6+3qszWY19zjNoFmag4qMsXeDZR
      rOme9Hg6jc8P2ULimAyrL58OAd7vn5lJ8S3frHRNG5i1R8XlKdH5kBjHYpy+g8cm
      ez6KJcfA3Z3mNWgQIJ2P2N7Sw4ScDV7oL8kCAwEAAaOBwDCBvTAdBgNVHQ4EFgQU
      oBEKIz6W8Qfs4q8p74Klf9AwpLQwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQF
      MAMBAf8wewYDVR0fBHQwcjA4oDagNIYyaHR0cDovL2NybC5jb21vZG9jYS5jb20v
      QUFBQ2VydGlmaWNhdGVTZXJ2aWNlcy5jcmwwNqA0oDKGMGh0dHA6Ly9jcmwuY29t
      b2RvLm5ldC9BQUFDZXJ0aWZpY2F0ZVNlcnZpY2VzLmNybDANBgkqhkiG9w0BAQUF
      AAOCAQEACFb8AvCb6P+k+tZ7xkSAzk/ExfYAWMymtrwUSWgEdujm7l3sAg9g1o1Q
      GE8mTgHj5rCl7r+8dFRBv/38ErjHT1r0iWAFf2C3BUrz9vHCv8S5dIa2LX1rzNLz
      Rt0vxuBqw8M0Ayx9lt1awg6nCpnBBYurDC/zXDrPbDdVCYfeU0BsWO/8tqtlbgT2
      G9w84FoVxp7Z8VlIMCFlA2zs6SFz7JsDoeA3raAVGI/6ugLOpyypEBMs1OUIJqsi
      l2D4kF501KKaU73yqWjgom7C12yxow+ev+to51byrvLjKzg6CYG1a4XXvi3tPxq3
      smPi9WIsgtRqAEFQ8TmDn5XpNpaYbg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDBzNlanV7eCEBq
      Kw7I2Yg5XzSnptNfH1Vxhg7iHhL8rYcWBd+I7z/fl0dmx2BnujzXHn8E7Y2AljOC
      mdnpAa8/1ODqBn1wZdNL5vwLckWmERteo/C06dTUxonozncPpgEYR7zS4EU55bDD
      0uYPF+OElbRMZD2N40Yt08C+qVMV80V0epOq5F2yXsGhIOLk1AkXG0cKJe7oZHHh
      cCDE6iVGp7rHOVLEg8Y1gO9aA+pes8nUucXn6Jlz898AT7JR1JVrLMlC1rT7vhJK
      MBa8AZxNFIqVsvzGR4HGK2+YYibgZ6x4oMdWC0iM7TO2xzYPjZfH2xyUOKW+UMxu
      bYHlj9oXAgMBAAECggEAC/Pga/BMy5DiuCmTrduMxU0T6EsnujQqhufnvxZvwVnK
      fRc7pCxtWhLwemxNi9g2rGXbG6izE30wDBwFDpPmBR/SB10DG42MLKBAZ0xS810W
      vQ2LaP0K/VyJYOxq93Ibmy3BfZgLbPi3oDw/qCqnA6RgDF4aVcfwqh7nQlsbHr1Y
      lpERkjY/OhCxU57NsKp+LJY8+33fDT940EYX2uhCwOfyWurtHQZ3pgKaMk6kVlPY
      cHeskn3Zk5nWkhLCmf/d6PUQZ8304kblprzJI64b6LkKsWo3cWk+HL9DDmerRDW6
      K053uG2WDFJ8jfnH+iG3aE5s0fldXx7YdR3weZ4IsQKBgQD89xuv/iRgDweR0hJ6
      IU00upxVcL/+Xd/RDMJkSEuKLBtBI9orLrnue1I2dzSLYLDS74cpdd2jgp6AHW8Q
      /WVV2QEw4LMJtnfIZmfebw9WVhCizbsI2xDpBUp5qn4B1T3lMIs3q5GkThrlnr7f
      /CfUEDeokzg3iqn0sf06b4On/QKBgQDEIAlg3svOfz6mu2oJCO4jlpx8MXmJ/oO8
      10gDGvMdwNJxmmxz+F0+bSa6mgximrDVb0LCTy6M99SpwPjoeGERKFbUfx+y2yOV
      6jbv8UjxCxh2gl6ASu6tp5Wav3vqh53pKeV8/RufT6J+tLO5Q40wJTf3NW5r5BbY
      f5yjtHa0owKBgQCut7oO31ieZCMVS2PpqLCbl7w8owholsvspoRpISnTgE0+u5WH
      N9nB5rlM1x6amajnt/rB3x+7PI9e63V35ZylI6HX8YqXTckDx/87ubd9KSqKV9Az
      +KKAX2AmEmS/vVnnv5SYWc7ZDf0z1WX+bDnSFXVr4Gr2qbZjRMAjKTxkvQKBgB97
      ZQX/vYdwNYZeHy9EF7Xuvz/QUUotaMgvZofZE517DkzeFPqoq48Rxl29zK8nVatt
      KLI4M6i9P43gRBRM/ofaidWiclwrgRLXfeoWOTc4KL0dQD4nyRhnBkTI6ANFsbtz
      1jqyBnUUO2lLaG4cwdUwpEMyeH8pJeGq2mIM3eExAoGBAPo6S0MuZycISu5otpTr
      KlBLwMnW0rvfb4f/PdFH6uVU1gcdzEk9MJjRIwo1izjE2QfPFQFAV4QYssrc1Pik
      Jpgw/o2zIJp6RJjxGxdn0btyfcchtHErbwzVEq24OqrEn06mRpZuXFWkviIemxAX
      exgYuxLpo26g7Ov9y/FaqJwe
      -----END PRIVATE KEY-----