<form method="post" style="display: inline-block;" action="{{ path('campaign_pause', {'id': campaign.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('pause' ~ campaign.id) }}">
    <button class="btn btn-square flat-btn btn-blue js-button">{{ 'common.yes'|trans }}</button>
</form>
