$white: #ffffff;
$black: #424853;

$light-blue: #e6f2fe;
$bright-blue: #41a3ff;
$dark-blue: #78889a;
$dirty-blue: #f6f8fc;
$bright-red: #ff166b;
$important-red: #ff4747;
$pink: #ff7dad;
$online-green: #59d998;
$bright-green: #35d29c;
$light-gray: #b2bbc4;
$background-gray: #f3f6fb;
$border-color: #f0f2f6;
$dark-purple: #6335d2;
$light-purple: #9900b9;
$orange: #ffac35;
$dark-bg: #302e3e;

$header: 70px;
$navbar: 275px;
$navbarCollapsed: 70px;

$big-desktop: "(max-width: 1750px)";
$medium-desktop: "(max-width: 1440px)";
$small-desktop: "(max-width: 1260px)";
$big-tablet: "(max-width: 1024px)";
$tablet: "(max-width: 768px)";
$phone: "(max-width: 640px)";
$small-phone: "(max-width: 400px)";
