<div class="popup-container popup-delete popup-activate-campaign">
    <div class="popup-body">
        <div class="info align-center">
            <span class="icon activate"></span>
            <p>{{ 'confirmation.activate_campaign'|trans }}</p>
            <p></p>
        </div>
        <div class="form-field">
            <div class="align-center">
                <button class="btn btn-square close-btn">{{ 'common.cancel'|trans }}</button>
                {{ include('campaign/_activate_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
