<div class="popup-container popup-delete popup-archive-agency">
    <div class="popup-body">
        <div class="info align-center">
            <span class="icon archive"></span>
            <p>{{ 'confirmation.archive_agency'|trans }}</p>
            <p></p>
        </div>
        <div class="form-field">
            <div class="align-center">
                <button class="btn btn-square close-btn">{{ 'common.cancel'|trans }}</button>
                {{ include('agency/_archive_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
